<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talking Character</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="character-container">
        <img id="character-image" src="img/img1_char.png"  alt="Talking Character">
    </div>
    <input id='user_inp'type="text" name="inp" value="<%= text %>" hidden>
    <button id="talk-button" hidden>Talk to Me</button>
    
    <script src="js/audio.js"></script>
</body>
</html>
