<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talking Character</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="character-container">
        <img id="character-image" src="img/img1_char.png" alt="Talking Character">
    </div>
    <form method="post" action="/z">
    <textarea id='user_inp'row="10" cols="50" name="inp" value=""></textarea></br>
    <button id="Done-button" type="submit" style="margin-left:140px;margin-top: 15px;">Done Edit</button>
    </form><br>
    <button id="talk-button">Talk to Me</button>

    <script src="js/script_home.js"></script>
</body>
</html>
